.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --fondo-car: hsl(225, 100%, 94%);
    --Btn-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--fondo-car);
    background: url(./images/pattern-background-desktop.svg) no-repeat fixed ;
}

.card{
    border: 1px solid back;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 450px;
}

